body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
}
#weatherForm {
    background:linear-gradient(134deg,rgba(48, 194, 243, 0.5),rgba(0, 128, 0, 0.527)) ;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 30px;
    width: 60dvw;
    height: 80dvh;
}

#weatherForm p{
    font-size: 30px;
}
#cityInput{
    margin-top: 15px;
    width: 40dvw;
    height: 4dvh;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0.527);
}
#getWeather{
    margin-top: 7px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px;
    background-color: rgba(85, 255, 255, 0.493);
    cursor: pointer;
}